[Unit]
Description=Gauntlet
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=exec
Restart=on-failure
ExecStart=/usr/bin/gauntlet --minimized

[Install]
WantedBy=graphical-session.target