name: setup windows

on:
  workflow_call:
    inputs:
      command:
        required: true
        type: string
      upload-artifact:
        default: false
        type: boolean
      github-release-id:
        type: string

jobs:
  run-on-windows:
    runs-on: windows-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: "https://registry.npmjs.org"
          scope: '@project-gauntlet'
      - uses: dtolnay/rust-toolchain@stable

      - run: choco install protoc
      - run: dotnet tool install --global wix
      - run: wix extension add -g WixToolset.Util.wixext/5.0.2

      - uses: Swatinem/rust-cache@v2
        with:
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - run: npm ci

      - run: ${{ inputs.command }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
          GITHUB_RELEASE_ID: ${{ inputs.github-release-id }}

      - uses: actions/upload-artifact@v4
        if: ${{ inputs.upload-artifact }}
        with:
          name: 'gauntlet-x86_64-windows.msi'
          path: 'target/x86_64-pc-windows-msvc/release/gauntlet-x86_64-windows.msi'
          if-no-files-found: 'error'
          retention-days: 7

